<div class="ui center aligned container" style="overflow-x: scroll;">
    <br><label for="">{{processos.length}} processos {{title}}</label>
    <table class="ui table processo-aptos-table">
        <tbody>
        <tr>
            <td ng-repeat="p in processos" class="border-right" ng-class="p.bg">
                {{p.name}} <br>
                <span style="color: red">Inicio:{{p.inicio}}s</span> <br>
                <span style="color:green">Final:{{p.final}}</span> <br>
                <span style="color:deepskyblue">Size:{{p.size}}K</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>