<div class="ui center aligned container" style="overflow-x: scroll;">
    <br><label for="">Lista Prioridade {{prioridade}}</label>
    <table class="ui table processo-aptos-table">
        <tbody>
        <tr>
            <td ng-repeat="p in processos" class="border-right" ng-class="p.bg">
                {{p.name}} <br>
                <span style="color: red">Q.:{{p.quantum}}s</span> <br>
                <span style="color:green">T.D.:{{p.tempoDuracao}}</span> <br>
                <span style="color:deepskyblue">Size:{{p.size}}K</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>