<div class="ui center aligned container" style="overflow-x: scroll;">
    <br><label>Memória</label>
    <br><label ng-if="current >= 0">{{current}}/{{total}}</label>
    <table class="ui table processo-aptos-table">
        <tbody>
        <tr>
            <td ng-repeat="p in memoria" class="border-right" ng-class="p.bg">
                {{p.id}} <span ng-if="p.often">*</span><br>
                <span style="color: red">Size: {{p.size}}K</span> <br>
                <span style="color:green">Size Pr.: {{p.processo.size}}K</span> <br>
                <span style="color:deepskyblue">Processo: {{p.processo.name}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>