.color2{
    background-color: #674590;
}


.color3{
    background-color: #d2472d;
}


.color4{
    background-color: #4c8566;
}


.color5{
    background-color: #33d03a;
}


.color6{
    background-color: #477c70;
}


.color7{
    background-color: #1e1b36;
}


.color8{
    background-color: #b86f67;
}


.color9{
    background-color: #b587fa;
}


.color10{
    background-color: #774131;
}


.color11{
    background-color: #d7674d;
}


.color12{
    background-color: #235680;
}


.color13{
    background-color: #c59e26;
}


.color14{
    background-color: #dd4574;
}


.color15{
    background-color: #d98e96;
}


.color16{
    background-color: #32b491;
}


.color17{
    background-color: #1c7bf5;
}


.color18{
    background-color: #7f593c;
}


.color19{
    background-color: #3ca65d;
}


.color20{
    background-color: #d64f1e;
}


.color21{
    background-color: #e35519;
}


.color22{
    background-color: #e22d28;
}


.color23{
    background-color: #a36f35;
}


.color24{
    background-color: #e9164c;
}


.color25{
    background-color: #d55270;
}


.color26{
    background-color: #9263dc;
}


.color27{
    background-color: #60cc14;
}


.color28{
    background-color: #aaa48b;
}


.color29{
    background-color: #c97c70;
}


.color30{
    background-color: #a41f55;
}


.color31{
    background-color: #b9ce7a;
}


.color32{
    background-color: #fb93f1;
}


.color33{
    background-color: #44eac2;
}


.color34{
    background-color: #9cb484;
}


.color35{
    background-color: #52b22a;
}


.color36{
    background-color: #446840;
}


.color37{
    background-color: #66a010;
}


.color38{
    background-color: #4483cf;
}


.color39{
    background-color: #c49fa1;
}


.color40{
    background-color: #2d2d82;
}


.color41{
    background-color: #c9f719;
}


.color42{
    background-color: #5cd513;
}


.color43{
    background-color: #53615f;
}


.color44{
    background-color: #123115;
}


.color45{
    background-color: #5547e2;
}


.color46{
    background-color: #af4ad8;
}


.color47{
    background-color: #e1f76b;
}


.color48{
    background-color: #22b4c3;
}


.color49{
    background-color: #956691;
}


.color50{
    background-color: #1ec150;
}


.color51{
    background-color: #95644f;
}


.color52{
    background-color: #fdda46;
}


.color53{
    background-color: #85bb70;
}


.color54{
    background-color: #d6c4d0;
}


.color55{
    background-color: #21e1dd;
}


.color56{
    background-color: #7699f9;
}


.color57{
    background-color: #c2f238;
}


.color58{
    background-color: #bcc9a4;
}


.color59{
    background-color: #13d87e;
}


.color60{
    background-color: #2d2211;
}


.color61{
    background-color: #98c7cf;
}


.color62{
    background-color: #5bcd50;
}


.color63{
    background-color: #714f4a;
}


.color64{
    background-color: #2a51a4;
}


.color65{
    background-color: #748d20;
}


.color66{
    background-color: #733bcc;
}


.color67{
    background-color: #4cf6a5;
}


.color68{
    background-color: #59686d;
}


.color69{
    background-color: #56c5f9;
}


.color70{
    background-color: #85a07e;
}


.color71{
    background-color: #d5c4ef;
}


.color72{
    background-color: #6b1ad8;
}


.color73{
    background-color: #5823c5;
}


.color74{
    background-color: #272ccf;
}


.color75{
    background-color: #b7d8c0;
}


.color76{
    background-color: #9a9871;
}


.color77{
    background-color: #52de60;
}


.color78{
    background-color: #2b5e25;
}


.color79{
    background-color: #25f3d0;
}


.color80{
    background-color: #319b89;
}


.color81{
    background-color: #e03173;
}


.color82{
    background-color: #db47e7;
}


.color83{
    background-color: #672af3;
}


.color84{
    background-color: #86e4b2;
}


.color85{
    background-color: #af3ecf;
}


.color86{
    background-color: #fb356d;
}


.color87{
    background-color: #453b79;
}


.color88{
    background-color: #6c18ab;
}


.color89{
    background-color: #a2186f;
}


.color90{
    background-color: #5f3e39;
}


.color91{
    background-color: #704b96;
}


.color92{
    background-color: #9b9e5b;
}


.color93{
    background-color: #2b1d45;
}


.color94{
    background-color: #85c485;
}


.color95{
    background-color: #a16dbb;
}


.color96{
    background-color: #52102e;
}


.color97{
    background-color: #bae32e;
}


.color98{
    background-color: #a04e34;
}


.color99{
    background-color: #3b6bf3;
}


.color100{
    background-color: #b562d3;
}


.color101{
    background-color: #cc2cc4;
}


.color102{
    background-color: #487d12;
}


.color103{
    background-color: #f33611;
}


.color104{
    background-color: #64f1c6;
}


.color105{
    background-color: #6b328b;
}


.color106{
    background-color: #61991c;
}


.color107{
    background-color: #cfcff8;
}


.color108{
    background-color: #419151;
}


.color109{
    background-color: #41b082;
}


.color110{
    background-color: #849362;
}


.color111{
    background-color: #efab96;
}


.color112{
    background-color: #d1397d;
}


.color113{
    background-color: #4e8a68;
}


.color114{
    background-color: #c9413c;
}


.color115{
    background-color: #e77031;
}


.color116{
    background-color: #fdc039;
}


.color117{
    background-color: #9e5f00;
}


.color118{
    background-color: #892639;
}


.color119{
    background-color: #5a9271;
}


.color120{
    background-color: #a25840;
}


.color121{
    background-color: #57c188;
}


.color122{
    background-color: #b4f460;
}


.color123{
    background-color: #413749;
}


.color124{
    background-color: #bf6bd3;
}


.color125{
    background-color: #3c9369;
}


.color126{
    background-color: #89c037;
}


.color127{
    background-color: #20e9fc;
}


.color128{
    background-color: #c0bfb6;
}


