<br>
<div class="ui center aligned container">
  <div class="ui four column grid">
      <div class="row">
        <div class="column">
          <button type="button" class="ui button primary" name="button" ng-click="vm.stopClock()">{{vm.labelRelogio}}</button>
        </div>
        <div class="column">
            <button type="button" class="ui black button" name="button" ng-click="vm.addNovoProcesso()">Novo processo</button>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <span><h2 class="ui header">{{vm.clock.second | pad}}s<h2></span>
        </div>
      </div>
  </div>
</div>

<div class="ui center aligned container" style="overflow-x: scroll;">
  <br><label>Processadores</label>
  <table class="ui table cores-table">
    <tbody>
    <tr>
      <td ng-repeat="c in vm.cores">
        <div class="ui card" style="width: 150px;" ng-class="c.bg">
          <div class="image">
            <img src="img/processador.jpg">
          </div>
          <div class="content">
            <a class="header">{{c.processo.name}}</a>
            <span style="color: green">T.D.:{{c.processo.tempoDuracao}}s</span><br>
            <span style="color: green">Final:{{c.processo.final}}s</span> <br>
            <span style="color:deepskyblue">Size: {{c.processo.size}}K</span>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<lista-memoria memoria="vm.memory"></lista-memoria>

<div ng-repeat="core in vm.cores">
  <div class="ui center aligned container" style="overflow-x: scroll;">
    <br><label for="">Processos do Core {{$index}}</label>
    <table class="ui table processo-aptos-table">
      <tbody>
        <tr>
          <td ng-repeat="p in core.processos" class="border-right" ng-class="p.bg">
            {{p.name}} <br>
            <span style="color: red">Inicio:{{p.inicio}}s</span> <br>
            <span style="color:green">Final:{{p.final}}</span> <br>
            <span style="color:deepskyblue">Size:{{p.size}}K</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<table-processos processos="vm.processosAbortados" title="Abortados"></table-processos>

<table-processos processos="vm.processosFinalizados" title="Finalizados"></table-processos>

<table-processos processos="vm.processosIniciais" title="restantes"></table-processos>