<br>
<div class="ui center aligned container">
  <button type="button" name="button" ng-click="vm.addNovoProcesso()">Novo processo</button>
    <div class="ui two column grid">
        <div class="column">
            <a href="#/index" class="ui primary button">Home</a>
        </div>
        <div class="column" ng-show="vm.isQuickFit">
            Blocos mais usados: {{vm.currentOftenBlocks}}
        </div>
    </div>
</div>

<div class="ui center aligned container" style="overflow-x: scroll;">
  <br><label>Processadores</label>
  <table class="ui table cores-table">
    <tbody>
      <tr>
        <td ng-repeat="c in vm.cores">
          <div class="ui card" style="width: 150px;" ng-class="c.cor">
            <div class="image">
              <img src="img/processador.jpg">
            </div>
            <div class="content">
              <a class="header">{{c.processo.name}}</a>
              <span style="color: green">T.D.:{{c.processo.tempoDuracao}}s</span><br>
              <span style="color:deepskyblue">Size: {{c.processo.size}}K</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<lista-memoria memoria="vm.memory" current="vm.currentSizeMemory" total="vm.data.tamanho_memoria"></lista-memoria>

<div class="ui center aligned container" style="overflow-x: scroll;">
  <br><label>Processos Aptos</label>
  <table class="ui table processo-aptos-table">
    <tbody>
      <tr>
        <td ng-repeat="p in vm.filaDeAptos" class="border-right" ng-class="p.bg">
          {{p.name}} <br>
          <span style="color: red">D.L.:{{p.deadLine}}s</span> <br>
          <span style="color:green">T.D.:{{p.tempoDuracao}}</span> <br>
          <span style="color:deepskyblue">Size:{{p.size}}K</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="ui center aligned container" style="overflow-x: scroll;">
  <br><label>{{vm.filaAbortados.length}} processos Abortados</label>
  <table class="ui table processo-aptos-table">
    <tbody>
      <tr>
        <td ng-repeat="p in vm.filaAbortados" class="border-right" ng-class="p.bg">
          {{p.name}} <br>
          <span style="color: red">D.L.:{{p.deadLine}}s</span> <br>
          <span style="color:green">T.D.:{{p.tempoDuracao}}</span><br>
          <span style="color:deepskyblue">Size: {{p.size}}K</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="ui center aligned container" style="overflow-x: scroll;">
  <br><label>{{vm.processosFinalizados.length}} processos Finalizados</label>
  <table class="ui table processo-aptos-table">
    <tbody>
      <tr>
        <td ng-repeat="p in vm.processosFinalizados" class="border-right" ng-class="p.bg">
          {{p.name}} <br>
          <span style="color: red">D.L.:{{p.deadLine}}s</span> <br>
          <span style="color:green">T.D.:{{p.tempoDuracao}}</span><br>
          <span style="color:deepskyblue">Size: {{p.size}}K</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
