
<div class="ui center aligned container" style="max-width: 500px; width: 500px; margin-top: 10% !important; background-color: #fff; padding: 30px">
  <div class="ui form left aligned container">
    <h4 class="ui dividing header">Simulação do Escalonador</h4>
      <div class="field">
        <label>Algoritmo de escalonamento</label>
        <select class="ui dropdown" ng-model="data.algoritmo" ng-change="showQuantumInput()">
          <option value="ltg">Least Time to Go</option>
          <option value="round_robin">Roundin Robin</option>
          <!--<option value="rr_no_priority">Roundin Robin Sem Fila de Prioridade</option>-->
          <!-- <option value="interval_scheduling">Interval-Based Scheduling</option> -->
        </select>
      </div>
      <div class="field">
        <label>Algoritmo de gerenciamento de memória</label>
        <select class="ui dropdown" ng-model="data.algoritmoMemoria">
          <option value="bf">Best Fit</option>
          <option value="qf">Quick Fit</option>
          <option value="mf">Merge Fit</option>
        </select>
      </div>
      <div class="two fields">
        <div class="field">
          <label for="">Quatidade de Cores</label>
          <select class="ui dropdown" ng-model="data.qtd_core">
            <option value="{{c}}" ng-repeat="c in core_list">{{c}}</option>
          </select>
        </div>
        <div class="field">
          <label for="">Quantidade de Processos Iniciais</label>
          <input type="text" name="name" ng-model="data.qtd_processo">
        </div>
      </div>
      <div class="one field">
          <label for="">Tamanho da memória</label>
          <div class="ui right labeled input">
              <input type="text" name="name" ng-model="data.tamanho_memoria" style="width: 100px">
              <div class="ui basic label">
                  KB
              </div>
          </div>
      </div>
      <div class="field" ng-show="isRoundRobin">
        <label>Quantum</label>
        <input type="text" name="name" ng-model="data.quantum">
      </div>
      <button ng-click="startAlgoritmo()" type="button" class="ui button" name="button">Start</button>
  </div>
</div>
