<br>
<div class="ui center aligned container">
    <button type="button" name="button" ng-click="vm.disabled=false">Mudar quantum</button>
    <input type="text" name="name" ng-model="vm.novoQuantum" ng-disabled="vm.disabled">
    <button type="button" name="button" ng-click="vm.changeQuantum()">Salvar</button>
    <br/><button type="button" name="button" ng-click="vm.addNovoProcesso()">Novo processo</button>
</div>

<div class="ui center aligned container" style="overflow-x: scroll;">
    <br><label>Processadores</label>
    <table class="ui table cores-table">
        <tbody>
        <tr>
            <td ng-repeat="c in vm.cores">
                <div class="ui card" style="width: 150px;" ng-class="c.cor">
                    <div class="image">
                        <img src="img/processador.jpg">
                    </div>
                    <div class="content">
                        <a class="header">{{c.processo.name}}</a>
                        <span style="color: red">Q.:{{c.processo.quantum}}s</span> <br>
                        <span style="color:green">T.D.:{{c.processo.tempoDuracao}}s</span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<lista-prioridade processos="vm.listaProcessos" prioridade="Única"></lista-prioridade>

<div class="ui center aligned container" style="overflow-x: scroll;">
    <br><label for="">{{vm.processosFinalizados.length}} processos Finalizados</label>
    <table class="ui table processo-aptos-table">
        <tbody>
        <tr>
            <td ng-repeat="p in vm.processosFinalizados" class="border-right" ng-class="p.bg">
                {{p.name}} <br>
                <span style="color: red">Q.:{{p.quantum}}s</span> <br>
                <span style="color:green">T.D.:{{p.tempoDuracao}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>



